*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:purple; 
}
.image1{
    display: inline-flex;
    padding:0 20px 20px 0;
}
.heading1{
    position: relative;
    color: white;
    margin-left: 50%;
    display: block;
   
}

.Welcomepage{
    text-align: center;
    color: pink;
    background: linear-gradient(30deg, white 45%, transparent 45%), url(../images/image2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.Welcomepage>p{
    position: relative;
    top: 60%;
    float: left;
    color: black;
    font-size: 36px;
}
#button{
    position: relative;
    margin-left: 300px;
   margin-right: 38%;
    background-color: purple;
    color: black;
    float: left;
width: 10%;
height: 9%;
   top: 70%;
   padding: 2%;
    
}

